In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

## Make Connection to Database

In [2]:
engine = create_engine("mysql://root:aRobertw94@localhost/wine_db")

## Read in master wine CSV

In [3]:
wine_csv = "../Raw_Data/wine_data_cleaned.csv"
wine_df = pd.read_csv(wine_csv)
wine_df.head()

,State,Varietal,Wine,Points,Price
0,California,Abouriou,Cerridwen 2012 Moonlight Sonata Abouriou (Russ...,85,75.0
1,California,Aglianico,Giornata 2012 French Camp Vineyard Aglianico (...,92,30.0
2,California,Aglianico,Giornata 2014 Luna Matta Vineyard Aglianico (P...,92,45.0
3,California,Aglianico,Rosa d'Oro 2012 Aglianico (Clear Lake),92,28.0
4,California,Aglianico,Monte Volpe 2012 Aglianico (Mendocino),92,28.0

## Read in all state weather CSVs

In [4]:
temp_csv = "../Raw_Data/state_temp.csv"
temp_df = pd.read_csv(temp_csv)
temp_df.head()

rain_csv = "../Raw_Data/state_rain.csv"
rain_df = pd.read_csv(rain_csv)

humid_csv = "../Raw_Data/state_humid.csv"
humid_df = pd.read_csv(humid_csv)

sun_csv = "../Raw_Data/state_sun.csv"
sun_df = pd.read_csv(sun_csv)

## Join each state weather data to wine master CSV

In [5]:
wine_temp_df = pd.DataFrame.merge(wine_df,temp_df,left_on='State', right_on='state')
wine_rain_df = pd.DataFrame.merge(wine_df,rain_df,left_on='State', right_on='state')
wine_humid_df = pd.DataFrame.merge(wine_df,humid_df,left_on='State', right_on='state')
wine_sun_df = pd.DataFrame.merge(wine_df,sun_df,left_on='State', right_on='state')

## Delete excess state column

In [6]:
del wine_temp_df['state']
del wine_rain_df['state']
del wine_humid_df['state']
del wine_sun_df['state']

## Transfer our pandas DataFrames to SQL Database

In [8]:
wine_sun_df.to_sql(name='Sun_Data', con=engine, if_exists='append', index=False)
wine_temp_df.to_sql(name='Temp_Data', con=engine, if_exists='append', index=False)
wine_rain_df.to_sql(name='Rain_Data', con=engine, if_exists='append', index=False)
wine_humid_df.to_sql(name='Humid_Data', con=engine, if_exists='append', index=False)

C:\Users\Aaron\Anaconda3\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'Sun_Data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)