In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Connect to local database

In [5]:
rds_connection_string = "<inser user name>:<insert password>@127.0.0.1/wine_db"
engine = create_engine(f'mysql://{rds_connection_string}')

## Check for tables

In [4]:
engine.table_names()

## Use pandas to load csv converted DataFrame into database

In [8]:
selected_state_wine_data_df.to_sql(name='Wine_Data', con=engine, if_exists='append', index=False)

## Confirm data has been added

In [10]:
pd.read_sql_query('select * from Wine_Data', con=engine).head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen