In [8]:
import pandas as pd
from sqlalchemy import create_engine

## Read in average humidity csv

In [10]:
humid_csv = "../Raw_Data/Humidity_by_state.csv"
humid_df = pd.read_csv(humid_csv,encoding = "ISO-8859-1")

        State       Place  Morn­ing  After­noon
0     Alabama  Birmingham        84          52
1      Alaska   Anchorage        77          64
2     Arizona      Tucson        53          25
3    Arkansas  Fort Smith        85          49
4  California   San Diego        76          62

## Select desired columns

In [13]:
state_humid_df = humid_df[['State','Morn­ing','After­noon']]

## Rename our columns

In [14]:
rename = {'State':'state',
          'Morn­ing':'morning_humidity',
          'After­noon':'afternoon_humidity'}
state_humid_df = state_humid_df.rename(columns = rename)

## Set index

In [16]:
state_humid_df = state_humid_df.set_index('state')

## Save as CSV

In [17]:
state_humid_df.to_csv("../Raw_Data/state_humid.csv", index=True, header=True)