In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
engine = create_engine("mysql://root:aRobertw94@localhost/wine_db")

In [3]:
wine_csv = "../Raw_Data/wine_data_cleaned.csv"
wine_df = pd.read_csv(wine_csv)
wine_df.head()

,State,Varietal,Wine,Points,Price
0,California,Abouriou,Cerridwen 2012 Moonlight Sonata Abouriou (Russ...,85,75.0
1,California,Aglianico,Giornata 2012 French Camp Vineyard Aglianico (...,92,30.0
2,California,Aglianico,Giornata 2014 Luna Matta Vineyard Aglianico (P...,92,45.0
3,California,Aglianico,Rosa d'Oro 2012 Aglianico (Clear Lake),92,28.0
4,California,Aglianico,Monte Volpe 2012 Aglianico (Mendocino),92,28.0

In [4]:
temp_csv = "../Raw_Data/state_temp.csv"
temp_df = pd.read_csv(temp_csv)
temp_df.head()

rain_csv = "../Raw_Data/state_rain.csv"
rain_df = pd.read_csv(rain_csv)

humid_csv = "../Raw_Data/state_humid.csv"
humid_df = pd.read_csv(humid_csv)

sun_csv = "../Raw_Data/state_sun.csv"
sun_df = pd.read_csv(sun_csv)

In [5]:
wine_temp_df = pd.DataFrame.merge(wine_df,temp_df,left_on='State', right_on='state')
wine_rain_df = pd.DataFrame.merge(wine_df,rain_df,left_on='State', right_on='state')
wine_humid_df = pd.DataFrame.merge(wine_df,humid_df,left_on='State', right_on='state')
wine_sun_df = pd.DataFrame.merge(wine_df,sun_df,left_on='State', right_on='state')

In [6]:
del wine_temp_df['state']
del wine_rain_df['state']
del wine_humid_df['state']
del wine_sun_df['state']

In [7]:
wine_humid_df.head()

,State,Varietal,Wine,Points,Price,morning_humidity,afternoon_humidity
0,California,Abouriou,Cerridwen 2012 Moonlight Sonata Abouriou (Russ...,85,75.0,76,62
1,California,Aglianico,Giornata 2012 French Camp Vineyard Aglianico (...,92,30.0,76,62
2,California,Aglianico,Giornata 2014 Luna Matta Vineyard Aglianico (P...,92,45.0,76,62
3,California,Aglianico,Rosa d'Oro 2012 Aglianico (Clear Lake),92,28.0,76,62
4,California,Aglianico,Monte Volpe 2012 Aglianico (Mendocino),92,28.0,76,62

In [8]:
wine_humid_df.to_sql(name='Humid_Data', con=engine, if_exists='append', index=False)

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'Varietal' in 'field list'") [SQL: 'INSERT INTO `Humid_Data` (`State`, `Varietal`, `Wine`, `Points`, `Price`, morning_humidity, afternoon_humidity) VALUES (%(State)s, %(Varietal)s, %(Wine)s, %(Points)s, %(Price)s, %(morning_humidity)s, %(afternoon_humidity)s)'] [parameters: ({'State': 'California', 'Varietal': 'Abouriou', 'Wine': 'Cerridwen 2012 Moonlight Sonata Abouriou (Russian River Valley)', 'Points': 85, 'Price': 75.0, 'morning_humidity': 76, 'afternoon_humidity': 62}, {'State': 'California', 'Varietal': 'Aglianico', 'Wine': 'Giornata 2012 French Camp Vineyard Aglianico (Paso Robles)', 'Points': 92, 'Price': 30.0, 'morning_humidity': 76, 'afternoon_humidity': 62}, {'State': 'California', 'Varietal': 'Aglianico', 'Wine': 'Giornata 2014 Luna Matta Vineyard Aglianico (Paso Robles)', 'Points': 92, 'Price': 45.0, 'morning_humidity': 76, 'afternoon_humidity': 62}, {'State': 'California', 'Varietal': 'Aglianico', 'Wine': "Rosa d'Oro 2012 Aglianico (Clear Lake)", 'Points': 92, 'Price': 28.0, 'morning_humidity': 76, 'afternoon_humidity': 62}, {'State': 'California', 'Varietal': 'Aglianico', 'Wine': 'Monte Volpe 2012 Aglianico (Mendocino)', 'Points': 92, 'Price': 28.0, 'morning_humidity': 76, 'afternoon_humidity': 62}, {'State': 'California', 'Varietal': 'Aglianico', 'Wine': 'West of Temperance 2012 Aglianico (California)', 'Points': 91, 'Price': 30.0, 'morning_humidity': 76, 'afternoon_humidity': 62}, {'State': 'California', 'Varietal': 'Aglianico', 'Wine': 'Prima Materia 2013 Estate Bottled Aglianico (Kelsey Bench-Lake County)', 'Points': 91, 'Price': 30.0, 'morning_humidity': 76, 'afternoon_humidity': 62}, {'State': 'California', 'Varietal': 'Aglianico', 'Wine': "Terra d'Oro 2014 Aglianico (Amador County)", 'Points': 90, 'Price': 18.0, 'morning_humidity': 76, 'afternoon_humidity': 62}  ... displaying 10 of 54124 total bound parameter sets ...  {'State': 'Washington', 'Varietal': 'Zweigelt', 'Wine': 'Wilridge 2010 Estate Zweigelt (Yakima Valley)', 'Points': 87, 'Price': 30.0, 'morning_humidity': 83, 'afternoon_humidity': 62}, {'State': 'Washington', 'Varietal': 'Zweigelt', 'Wine': 'Wilridge 2009 Zweigelt (Columbia Valley (WA))', 'Points': 86, 'Price': 29.0, 'morning_humidity': 83, 'afternoon_humidity': 62})] (Background on this error at: http://sqlalche.me/e/2j85)

In [ ]:
wine_rain_df.to_sql(name='Rain_Data', con=engine, if_exists='append', index=False)

In [ ]:
wine_temp_df.to_sql(name='Temp_Data', con=engine, if_exists='append', index=False)
wine_sun_df.to_sql(name='Sun_Data', con=engine, if_exists='append', index=False)