In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file = "../Raw_Data/winemag-data-130k-v2.csv"
wine_data_df = pd.read_csv(csv_file)

### Create new data with select columns

In [3]:
new_wine_data_df = wine_data_df[['country', 'points', 'price', 'province', 'title', 'variety']].copy()

### Filter by Country = US

In [4]:
US_wine_data_df = new_wine_data_df.loc[new_wine_data_df['country'] == 'US']

### Drop Country Column and Reorder Columns

In [5]:
province_wine_data_df = US_wine_data_df[['province', 'variety', 'title', 'points', 'price']]

### Rename Province Column as State

In [6]:
state_wine_data_df = province_wine_data_df.rename(columns = {"province": "State", "variety" : "Varietal", "points" : "Points", "price": "Price", "title" : "Wine"})

### Sort Data by State, Varietal and Points

In [7]:
sorted_wine_data_df = state_wine_data_df.sort_values(['State', 'Varietal','Points'], ascending=[1, 1, 0])

### Filter on Selected States

In [8]:
states = ["California","Washington","Oregon", "New York", "Virginia", "Idaho", "Michigan", "Texas"]
selected_state_wine_data_df=sorted_wine_data_df.loc[sorted_wine_data_df['State'].isin(states)]

### Set Index

In [9]:
cleaned_wine_data_df = selected_state_wine_data_df.set_index('State', drop=True)
cleaned_wine_data_df.head()

,Varietal,Wine,Points,Price
State,,,,
California,Abouriou,Cerridwen 2012 Moonlight Sonata Abouriou (Russ...,85,75.0
California,Aglianico,Giornata 2012 French Camp Vineyard Aglianico (...,92,30.0
California,Aglianico,Giornata 2014 Luna Matta Vineyard Aglianico (P...,92,45.0
California,Aglianico,Rosa d'Oro 2012 Aglianico (Clear Lake),92,28.0
California,Aglianico,Monte Volpe 2012 Aglianico (Mendocino),92,28.0

### Write new CSV

In [10]:
cleaned_wine_data_df.to_csv("../Raw_Data/wine_data_cleaned.csv", index=True, header=True)